.tamagotchi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 10px 0;
}
.characteristic-button {
  display: flex;
  align-items: stretch; 
  flex-direction: column;
}
.main-button {
  display: flex;
  flex-direction: column;
}

